header {
  border-bottom: $border-transparent;
  position: relative;
  z-index: 10;
  background: $background-transparent;

  .brand {
    font-family: $title-font;
    font-size: 1.5rem;
  }

  .menu {
    font-family: $title-font;
    font-size: 1.5rem;
  }

  .menu + i {
    font-size: 1.2rem;
  }
}