main {
  > * {
    position: relative;
    z-index: 10;
  }

  .content--canvas {
    z-index: 1;
  }
}

.avatar {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("https://stc.demola.net/img/contacts/lucas-hd.jpg") center no-repeat;
  background-size: cover;
  border-radius: 0.5rem;
  box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.4);
}

a.boxlink {
  display: block;
  padding: 3rem 1rem;
  border-radius: 0.5rem;
  font-family: $title-font;
  font-size: 1.5rem;
  border: $border-transparent;
  text-decoration: none;
  @include background(linear-gradient(left top, rgba(255, 255, 50, 0.3) 0%, rgba(255, 255, 255, 0.1) 100%));

  &:hover {
    @include background(linear-gradient(left top, rgba(255, 255, 77, 0.8) 0%, rgba(250, 37, 30, 0.4) 100%));
    -webkit-background-clip: unset;
    -webkit-text-fill-color: black;
  }
}

.tags {
  > div {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
    border-radius: 0.5rem;
    padding: 0.4rem 1.1rem;
    margin: 0.6rem;
  }
}

.quotation {
  font-family: $title-font;
  padding: 1rem 1.5rem;
  @media (min-width: 728px) {
    padding: 1rem 4rem;
  }
}

.box {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;

  &.highlight {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.25);
  }
}

.logo {
  background-size: contain !important;
  height: 8rem;
  min-width: 8rem;
  max-width: 20vw;
  margin: auto;
  filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.3));
}

.skill-logo {
  background-size: contain !important;
  height: 8rem;
  max-width: 80%;
  margin: auto;
  filter: drop-shadow(0 0 1.5em rgba(255, 255, 255, 0.3));
}

img.portfolio-item {
  width: 100%;
  margin: 1rem 0;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

img.timeline-item {
  max-height: 12rem;
  max-width: 80vw;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}

.grid-thumbphotos {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
  align-items: center;

  @media (min-width: 992px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

img.photo-preview-mini {
  width: 100%;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}

img.photo-preview {
  max-height: 30rem;
  max-width: 80vw;
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}