@import "compass/css3";
@import "compass/css3/transition";
@import "compass/css3/transform";
@import "compass/css3/animation";
@import "variables";
@import "fader";
@import "sidenav";
@import "header";
@import "main";
@import "footer";
@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:700,700i|Chivo:300,400,400i,700');


body {
  font-family: $default-font;
  color: white;
  background: black;
  min-height: 132vh;
}

.flex-grow {
  flex: 1;
}

::-moz-selection {
  background: gold;
  color: black;
}

::selection {
  background: rgba(255, 255, 0, 0.4);
  color: black;
  text-shadow: 1px 1px 0 white, -1px -1px 0 white, -1px 1px 0 white, 1px -1px 0 white;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: -moz-none;
  user-select: none;
  cursor: default;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $title-font;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1360px;
  }
}

a, a > i {
  @include transition(all 0.3s ease-in-out);
  color: #c6f9ff !important;
  cursor: pointer;
}

a:hover, a:hover > i {
  @include background(linear-gradient(left top, #ffff4d 0%, #fb5751 100%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;

  &.underline {
    text-decoration-color: #ff9933;
  }
}

.bigger {
  font-size: 1.3em;
}

.display-1, .display-2, .display-3, .display-4 {
  @media (max-width: 728px) {
    font-size: 3rem;
  }
}